/* hero section */
.adv-hero{
    background: url("/assets/advertisers/adv-hero-bg.jpg") center top no-repeat;
    background-size: cover;
    /* height: 390px; */
}
/* promote section */
.common-hero-bg{
    background-size: cover;
    background: url("/assets/advertisers/promote-bg.jpg") center top no-repeat;
}

@media only screen and (max-width: 768px) {
    .adv-hero{
        background: rgb(186, 253, 242);
    }
}