/* hero section */
.adv-hero{
    background: url("/assets/advertisers/adv-hero-bg.jpg") center top no-repeat;
    background-size: cover;
    /* height: 390px; */
}
/* promote section */
.promote-section{
    background-size: cover;
    background: url("/assets/advertisers/promote-bg.jpg") center top no-repeat;
}