/* hero section */
.adv-hero{
    background: url("/assets/advertisers/adv-hero-bg.jpg") center top no-repeat;
    background-size: cover;
    /* height: 390px; */
}
/* neon-shadow */
.neon-shadow{
    box-shadow: rgb(12, 79, 110) 0px -2px 10px -2px;
    transition: transform 0.5s;
    border-radius: 10px;
}
.neon-shadow:hover{
    transform: scale(1.05);
    box-shadow: rgb(255, 121, 3) 0px -2px 10px -2px;
    cursor:pointer;
}
/* promote section */
.promote-section{
    background-size: cover;
    background: url("/assets/advertisers/promote-bg.jpg") center top no-repeat;
}