/* hero-section */
.hero-section{
    background: url('/assets/hero-img.webp') center top no-repeat;
    background-size: cover;
    height: 494px;
}
[data-fs-xl]{
    font-size: 2.5rem;
    font-weight: 800;
}
[data-fs-xxl]{
    font-size: 3.5rem;
    font-weight: 600;
}
/* advertising formats section */
.ad-desktop-container{
    padding: 0 10%;
    /* font-size: 1.2rem; */
    font-weight: bold;
    color: #8b9daa;
}
.adv-option{
    background-color: #F4F4F4;
}
.adv-option:hover{
    background-color: rgb(159, 194, 194);
    color: black;
    cursor: pointer;
}

/* active publishers section */
.active-publishers{
    background: url(/assets/home-section-2.jpg) center top no-repeat;
    background-size: auto 100%;
    height: 405px;
}
.publisher-text-container{
    /* padding-right: 15%; */
}

/* active campaigns section  */
.active-campaigns{
    background: url(/assets/home-section-3.jpg) center top no-repeat;
    background-size: auto 100%;
}
.campaign-text-container{
    /* margin-left:5%;
    width:40%; */
}
/* advantages section */
svg{
    width: 50px;
    height: 50px;
}
.advantage-caption{
    font-weight: 700;
    font-size: 0.9rem;
}
.advantage-desc{
    font-size: 0.8rem;
}

/* blog section */
.blog-title{
    height: 45px;
    font-size: 0.9rem;
}

/* partners section  */
.partner-card{
    height: 245px;
}
/* meet-us section */
.meet-us-card{
    /* height: 500px; */
}
