.publisher-hero{
    background: url('/assets/hero-img.webp') center top no-repeat;
    background-size: cover;
    /* height: 500px; */
}
@media only screen and (max-width: 768px) {
    .publisher-hero{
        background: rgb(186, 253, 242);
    }
}